<header id="index-header">

<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器或国内浏览器的兼容（过时的IE模式），请切换回极速模式或点击这里 <a href="https://browsehappy.osfipin.com/" target="_blank">升级浏览器</a> 以获得更好的体验！</p>
<![endif]-->
  <div class="top-center">
      <div class="logo">
          <a href="{{ "/" | relative_url }}" title="my awesome webtitle">{{ site.webtitle }}</a>
      </div>
      <nav class="top-nav">
          <ul>
              {% for i in site.nav %}
                <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
              {% endfor %}
          </ul>
      </nav>
      <div id="top-boot">
        <a href="javascript:;" id="boot1" style="display:block;" onclick="document.getElementById('boot-area').style.display='block';document.getElementById('boot1').style.display='none';document.getElementById('boot2').style.display='block';"><img src="/assets/boot.png" alt=""></a>
        <a href="javascript:;" id="boot2" style="display: none;" onclick="document.getElementById('boot-area').style.display='none';document.getElementById('boot1').style.display='block';document.getElementById('boot2').style.display='none';"><img src="/assets/boot.png" alt=""></a>
      </div>
  </div>

</header>
